image: maven:3-jdk-8

build:
  stage: build
  script: "mvn package -B"
  cache:
      untracked: true
      paths:
      - target/
  artifacts:
    paths:
      - target/nordic*.jar

test:
  stage: test
  script: "mvn verify -B"
  cache:
      untracked: true
      paths:
      - target/

deploy:
  stage: deploy
  only:
    - master
    - develop
  script:
    - mvn deploy -B
  only:
    - develop
