image: maven:3-jdk-8

build:
  stage: build
  script: "mvn package -B"
  cache:
      untracked: true
      paths:
      - target/

test:
  stage: test
  script: "mvn verify -B"
  cache:
      untracked: true
      paths:
      - target/

security:
  stage: test
  script: "mvn verify -Psecurity -B -X"
  cache:
      untracked: true
      paths:
      - target/

deploy:
  stage: deploy
  only:
    - master
    - develop
  script:
    - mvn deploy -B
